PORT=
MONGO_URI=
NODE_ENV=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_EXPIRES=
COOKIE_SECURE=

ENCRYPTION_KEY=
ENCRYPTION_IV_LENGTH=
BLIND_INDEX_KEY=

CORS_ORIGINS=

BOOTSTRAP_ADMIN_ENABLED=
BOOTSTRAP_ADMIN_USERNAME=
BOOTSTRAP_ADMIN_PASSWORD=